body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

}
/*
  background-image:
            url(https://images.reisereporter.de/bakYtJKyJji6iLiCI8PWO8b2pOgURiTKnJuM7ZHe6fc/g:no:269:0/cb:1991e5dfc0446611d366bc2b7eb7bbdc/c:1239:698/rs:fill:940:529/OTNlZTRmZGUtY2I/yNy00Mjk0LWE2ZG/QtYjM0MGMzNDM1N/mE5LmpwZw);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: difference;
 */