.Home{
    background: sandybrown;

}

.footer-Home{
    background: tan;
    font-size: x-small;
    vertical-align: sub;
}

.header-home{
    font-size: x-large;
    color: black;
    font-family: "Blackadder ITC";
}

